.website-component {
    height: 2vw;
    width: 40vw;
    display: flex;
}

.trashbin {
    height: 20px;
    width: 20px;
}

.trash-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.website-text {
    height: 2vw;
    width: 38vw;
    background-color: rgb(255, 255, 255);
}